{% load crispy_forms_tags %}

<form method="post" action="{% url 'files:create_folder' %}" class="js-create">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Create a new folder</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div id='form-errors' style='color:red;'>{{ form_errors }}</div>
        {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-default">Create folder</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
  </div>
</form>

